@import 'tailwindcss';

@layer utilities {
  .scrollbar-dark::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar-dark::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-dark::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 9999px;
  }
  .scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 9999px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #404040;
  }

  .scrollbar-black::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar-black::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 4px;
  }
  .scrollbar-black::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 9999px;
  }
  .scrollbar-black::-webkit-scrollbar-thumb:hover {
    background: #404040;
  }
}
